html, body {
      position: relative;
      height: 100%;
      font-family: 'Poppins', sans-serif;
      font-size: 14px;
      color: #000;
      background-image: url("immagini/sfondosito.png");
      background-repeat: no-repeat;
      background-attachment: fixed;
      background-size: cover;
      background-position: center;
}

/*header*/
#headline{
  z-index: 3;
  margin-top: 30px;
  width: 100%;
  height: 60px;
  position: fixed;
  background-color: #DD925F;
}

#casella-logo{
  display: inline-block;
  
}

#logo{
  width: 150px;
  margin-left: 40px;
  margin-top: 10px;
}
 
 /*burger menu*/
span {
  display: inline-block;
  vertical-align: middle;
  color: white;
}

ul {
  display: block;
  list-style-type: none;
  text-align: right;
}

a {
  color: #FFF;
}
a:hover {
  opacity: 0.7;
}

.menu {
  display: inline-block;
  margin-right: 100px;
  margin-top: 8px;
  float: right;
  padding-left: 1.25em;
  cursor: pointer;
  position: relative;
  width: 30px;
  height: 10px;
  text-align: right;
}

.menu-close {
  font-size: 0em;
  opacity: 0;
  text-align: center;
  font-weight: bold;

  -webkit-transition: 0.2s;
          transition: 0.2s;
}

.menu-close-visible {
  font-size: 2em;
  opacity: 1;

  -webkit-transition: 0.2s 0.4s;
          transition: 0.2s 0.4s;
}

.menu-global {
  z-index: 2;
  position: absolute;
  float: right;
  height: 5px; 
  width: 200%;
  background-color: #000000;
  margin: 0px 30px 150px 0px;

  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-transition: 0.2s;
          transition: 0.2s;
}

.menu-global:hover {
  left: 10px;
  -webkit-transition: all 0.2s;
          transition: all 0.2s;
}

.menu-top {
  top: 0;
}
.menu-middle {
  top: 18px;
}
.menu-bottom {
  top: 36px;
}

.menu-text{
  opacity: 0;
  font-size: 0em;
  padding: 10px 0;
  -webkit-transition: 0.1s;
          transition: 0.1s;
}

.expand {
  box-shadow: rgba(0, 0, 0, 0.1) -2.5px 5px 7.5px, rgba(0, 0, 0, 0.1) 2.5px 5px 7.5px;
  width: 200px;
  height: 50px;

  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}

.menu-top-expand {
  top: 50px;
  background: #FFF8E1;

  -webkit-transition: all 0.5s 0.2s, left 0.1s;
          transition: all 0.5s 0.2s, left 0.1s;
}

.menu-middle-expand {
  top: 100px;
  background: #FFECB3;

  -webkit-transition: all 0.5s 0.1s, left 0.1s;
          transition: all 0.5s 0.1s, left 0.1s;
}

.menu-bottom-expand {
  top: 150px;
  height: 100px;
  background: #FFE082;

  -webkit-transition: all 0.5s, left 0.1s;
          transition: all 0.5s, left 0.1s;
}

.menu-text-expand{
  color: #000000;
  opacity: 0.8;
  padding: 10px;
  font-size: 1.3em;
  -webkit-transition: all 0.2s 0.7s, font-size 0.1s;
          transition: all 0.2s 0.7s, font-size 0.1s;
}

.container-fluid{
  padding: 5px;
  background-color: #FFE6AE;
  margin: 0px;
}

/*intestazione home*/
h1 {
  font-family: "Times New Roman", Times, serif;
}

/*box prodotti*/

.card-img-top:hover {
    opacity: 0.5;   
  }

.navbar-toggler {
  background-color: red;
}


.btn-primary{
  background-color:violet !important;
  border-color:purple !important;
}

/*swiper*/

.swiper {
      width: 100%;
      height: 80%;
      margin-top: -30px;
}

.swiper-slide {
      background: #DD925F;
      display: flex;
      justify-content: center;
      align-items: center;
}

.swiper-slide img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
}

/*footer*/

#footer {
  background-color: #DD925F;
  color: white;
}

.contatti-social{
  display:inline-block;
  margin: 0px 30px;
}

#map {
  width: auto;
  height: 150px;
  margin-right:50px
}

.fot{
  display: inline-block;
  margin: 10px auto;
}

.social{
  font-size: 12px;
  margin: 10px 30px 10px 0px;
  display: inline-block;
  color: white;

}

#testofooter{
  max-width: 500px;
  font-size: 12px;
  text-align: left;
  color: #FFE6AE;
}